{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Book list{% endblock title %}

{% block content %}
<div class='container'>

    <form method="get">
        {{ filter.form|bootstrap }}
        <button class="btn btn-info mt-3 mb-3" type="submit">Filter search
        </button>
    </form>


    <table class="table table-info table-striped">
        <thead class="table-dark">
            <tr>
                <th>id</th>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th><abbr title="Publish date">Date</abbr></th>
                <th><abbr title="Publish language">Language</abbr></th>
                <th><abbr title="Number of pages">Number</abbr></th>
                <th>Book cover</th>
            </tr>
        </thead>
        <tbody>
            {% for book in filter.qs %}
            <tr>
                <th>{{ book.id }}</th>
                <td><a href="/book/{{ book.id }}">{{ book.title }}</a></td>
                <td>{{ book.author }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.publish_date }}</td>
                <td>{{ book.publish_lang }}</td>
                <td>{{ book.page_num }}</td>
                <td><a href="{{ book.cover_link }}">Link</a></td>
            </tr>
            {% empty %}
            <tfoot class="table-danger">
               <tr>
                   <td>No objects</tf>
                </tr>
            </tfoot>
            {% endfor %}
        </tbody>
      </table>
</div>
{% endblock content %}